*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 1000px;
  margin: auto;
}
.row{
  height: 400px;
  margin: 10px 0px 0px 0px;
}
.prodotto{
  width: 33%;
  display: inline-block;
  border: 1px solid black;
  text-align: center;
  position: relative;
}
.sconto{
  background-color: green;
  position: absolute;
  right: 0;
  top: 0;
}
.prodotto:nth-child(2) .sconto{
  background-color: red;
}
.cuore{
  color: red;
  display:none;
  width: 100%;
  position: absolute;
  bottom: 10px;
}
.prodotto:hover .cuore{
  display: block;
}
